{% extends 'shared/layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <section class="signin sec_form">
        <div class="form_container">
            <p class="title">Forget Password</p>

            <form method="post" action="" class="form">
                {{ forget_password_form.hidden_tag() }}
                <div>
                    {{ forget_password_form.email }}
                    {% for errors in forget_password_form.email.errors %}
                        <p class="errorlist"> {{ errors }}</p>
                    {% endfor %}

                </div>
                <button type="submit" class="form-btn">Forget Password</button>
            </form>
        </div>
    </section>
{% endblock %}