{% extends 'shared/layout.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <section class="signin sec_form">
        <div class="form_container">
            <p class="title">Welcome back</p>

            <form method="post" action="" class="form">
                {{ login_form.hidden_tag() }}

                <div>
                    {{ login_form.email }}
                    {% for errors in login_form.email.errors %}
                        <p class="errorlist"> {{ errors }}</p>
                    {% endfor %}
                </div>
                <div>
                    {{ login_form.password }}
                    {% for errors in login_form.password.errors %}
                        <p class="errorlist"> {{ errors }}</p>
                    {% endfor %}
                </div>


                <p class="page-link">
                    <a href="{{ url_for("account_views.forgot_password_view") }}" class="page-link-label">Forgot Password?</a>
                </p>

                <button type="submit" class="form-btn">Login</button>

            </form>

            <p class="sign-up-label">
                Don't have an account? <a href="{{ url_for('account_views.register_view') }}" class="sign-up-link">sign up</a>
            </p>


            <div class="buttons-container">
                <div class="google-login-button">
                    <i class="fa-brands fa-google"></i>
                    <span>Login with Google</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}