{% extends 'shared/layout.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block content %}
    <section class="signin sec_form">
        <div class="form_container">
            <p class="title">Welcome back</p>

            <form method="post" action="" class="form">
                {{ register_form.hidden_tag() }}
                <div>
                    {{ register_form.username }}
                    {% for errors in register_form.username.errors %}
                        <p class="errorlist"> {{ errors }}</p>
                    {% endfor %}
                </div>
                <div>
                    {{ register_form.email }}
                    {% for errors in register_form.email.errors %}
                        <p class="errorlist"> {{ errors }}</p>
                    {% endfor %}
                </div>
                <div>
                    {{ register_form.password }}
                    {% for errors in register_form.password.errors %}
                        <p class="errorlist"> {{ errors }}</p>
                    {% endfor %}
                </div>
                <div>
                    {{ register_form.confirm_password }}
                    {% for errors in register_form.confirm_password .errors %}
                        <p class="errorlist"> {{ errors }}</p>
                    {% endfor %}
                </div>


                {{ register_form.submit() }}

            </form>

            <p class="sign-up-label">
                have an account? <a href="{{ url_for('account_views.login_view') }}" class="sign-up-link">Login</a>
            </p>


            <div class="buttons-container">
                <div class="google-login-button">
                    <i class="fa-brands fa-google"></i>
                    <span>Sign UP with Google</span>
                </div>


            </div>
        </div>
    </section>
{% endblock %}