<aside class="sidebar">
    <div class="user-profile">

        <img
                src="{{ url_for('setting_views.get_image',filename=current_user.avatar) }}"
                alt="Profile"
                class="profile-img"
        />
        <h3></h3>
        <p>Premium Member</p>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li class="active">
                <a href="{{ url_for('user_views.user') }}"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('user_views.edit_profile') }}"><i class="fas fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="{{ url_for("user_views.my_shopping_page") }}"><i class="fas fa-shopping-cart"></i> Orders</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-heart"></i> Wishlist</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-map-marker-alt"></i> Addresses</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-credit-card"></i> Payments</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-cog"></i> Settings</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
    </nav>
</aside>