{% extends 'shared/layout.html' %}


{% block title %}
    About Us
{% endblock %}
{% block content %}
    <section class="about">
        <div class="containeres">
            <div class="aboutText">
                <h1>About Us</h1>
                <div class="content">
                    <p>
                        {{ site_setting.about_us_text }}
                    </p>
                </div>
                <h2 style="padding: 10px;">We Are Here...</h2>
                <div class="content">
                    <p>
                        <img src="/static/img/Map.jpg" alt=""
                             style="width:100%;height: auto; padding: 10px; border-radius: 10px;">
                    </p>
                </div>

            </div>
            <div class='side-Bar'>
                <div class="logo">
                    <h2>Company Logo</h2>
                    <div class="inputs">
                        <img src="{{ url_for('setting_views.get_image',filename=site_setting.site_logo) }}" alt=""
                             style="padding: 13px 23px">
                    </div>

                    <div class="info">
                        <h2>Company Info</h2>
                        <div class="inputs">
                            <p><strong>Address:</strong> {{ site_setting.address }}</p>
                            <p><strong>Phone:</strong> {{ site_setting.phone }} </p>
                            <p><strong>Fax:</strong> {{ site_setting.fax }} </p>
                            <p><strong>Email:</strong> <a href=""> {{ site_setting.email }} </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <div class="back_to_top">
        <p>back to top</p>
    </div>

{% endblock %}




