<footer>
    <div class="containeres">
        <div class="big_row">
            <img src="/static/img/logo-white.png" alt="">
            <div class="hotline">
                <i class="fa-solid fa-headset"></i>
                <div class="text">
                    <h5>Hotline Free 24/24:</h5>
                    <h6>{{ site_setting.phone }}</h6>
                </div>
            </div>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit consectetur.</p>
        </div>
        {% for footer_link_box in footer_link_boxes %}
            <div class="row">
                <h4>{{ footer_link_box.title }}</h4>

                <div class="links">
                    {% for link in footer_link_box.footer_links %}
                        <a href="#">{{ link.title }}</a>
                    {% endfor %}

                    {#                    <a href="#">Ordering Tracking</a>#}
                    {#                    <a href="#">Contacts</a>#}
                    {#                    <a href="#">Events</a>#}
                    {#                    <a href="#">Help Center</a>#}
                </div>

            </div>
        {% endfor %}




        {#        <div class="row">#}
        {#            <h4>Shipping & Delivery</h4>#}
        {##}
        {#            <div class="links">#}
        {#                <a href="#">Delivery Information</a>#}
        {#                <a href="#">Discount</a>#}
        {#                <a href="#">Payment & Shipping</a>#}
        {#                <a href="#">Estimated Delivery Time</a>#}
        {#                <a href="#">Shipping Guide</a>#}
        {#            </div>#}
        {#        </div>#}
        {##}
        {##}
        {#        <div class="row">#}
        {#            <h4>Information</h4>#}
        {##}
        {#            <div class="links">#}
        {#                <a href="#">Popular</a>#}
        {#                <a href="#">Our Services</a>#}
        {#                <a href="#">Your Account</a>#}
        {#                <a href="#">Privacy Policy</a>#}
        {#                <a href="#">Terms & Condition</a>#}
        {#            </div>#}
        {#        </div>#}


    </div>

    <div class="bottom_footer">
        <div class="containeres">
            <p><span>{{ site_setting.site_name }}</span> {{ site_setting.copy_right }}</p>
        </div>
    </div>
</footer>


